body {
    overflow: hidden;
}

.error-text{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilo para o texto do alerta */
.alert-text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #999; /* Cinza claro */
    font-size: 14px;
    text-align: center;
}

/* Estilo para o ícone de alerta */

.alert-text{
    top: 15%;
    left: 26%;
}

.status1 {
    position: absolute;
    top: 35%;
    left: 26%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2383A;
}

.status1 p {
    margin: 0;
    font-size: 32px;
}

.status1 i {
    margin-top: 10px;
    font-size: 54px;
}

.status1, 
.status2{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    position: absolute;
    top: 35%;
    left: 26%;
    transform: translateX(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.status1{
    background-color: #F2383A;
}

.status2{
    background-color: #F4DB00;
}

.status1 p, 
.status2 p {
    margin: 0; 
    font-size: 32px; 
}

.status1 i, 
.status2 i {
    margin-top: 10px; 
    font-size: 54px; 
}

.veiculo-historico {
    width: 70%;
    margin-top: 10%; 
    margin-left: 10%; 
    overflow-x: auto;
}

.veiculo-historico table {
    width: 100%;
}

.veiculo-historico th {
    background-color: #0073ba; 
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.veiculo-historico td {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Linha divisória entre as células */
    text-align: center;
}

/* Estilo para a primeira célula do cabeçalho */
.veiculo-historico th:first-child {
    border-top-left-radius: 8px; /* Borda arredondada superior esquerda */
}

/* Estilo para a última célula do cabeçalho */
.veiculo-historico th:last-child {
    border-top-right-radius: 8px; /* Borda arredondada superior direita */
}

/* Estilo para as células ímpares */
.veiculo-historico tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Cor de fundo das linhas ímpares */
}
