/* Reset de margens e padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-width: 200px;
}

/* Estilo do título principal */
h1 {
    text-align: center;
    margin: 20px 0;
}

/* Estilo do contêiner principal */
main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

/* Estilo da seção do gráfico */
.chart-section {
    margin-right: 20px;
}

/* Estilo da seção de detalhes */
.details-section {
    flex-grow: 1;
}

/* Estilo do canvas do gráfico */
canvas {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 400px;
    height: 400px;
}

/* Estilo do rodapé */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

footer a:last-child {
    margin-right: 0;
}
