h1 {
    text-align: center;
    margin: 20px 0;
}

/* Estilo do contêiner principal */
main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

/* Estilo da seção do gráfico */
.chart-section {
    margin-right: 20px;
}

/* Estilo da seção de controles */
.controls-section {
    display: flex;
    flex-direction: column;
}

/* Estilo dos botões de seleção */
.buttons {
    display: flex;
    flex-direction: column;
}

.vehicle-button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #00519E;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vehicle-button:hover {
    background-color: #1186F6;
}

/* Estilo do canvas do gráfico */
canvas {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 400px;
    height: 400px;
}