/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Cor da barra de rolagem */
    border-radius: 6px; /* Raio da borda da barra de rolagem */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Cor de fundo da barra de rolagem */
}
/* Estilo da barra de rolagem */


h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
    font-size: 32px;
    color: #333; 
    background-color: #f2f2f2; 
    border-radius: 10px; 
    border: 1px solid #ccc; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#porticos-container {
    position: fixed;
    top: 25%;
    left: 15%;
    width: 70%;
    max-height: 120%; 
    overflow: auto; 
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.portico {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.portico h2 {
    margin-top: 0;
}

.portico p {
    margin-bottom: 10px;
}

.portico a {
    color: #333;
    text-decoration: none;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.portico a:hover {
    background-color: #ccc;
}

.circular-map {
    position: absolute;
    width: 500px; 
    height: 500px; 
    border-radius: 10%; 
    overflow: hidden; 
    left: 65%;
    margin-top: 3%;
}

#table-container {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 25%;
    max-height: 50%; /* Defina a altura máxima desejada */
    overflow: auto; /* Adiciona uma barra de rolagem se necessário */
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

tbody tr:hover{
    background-color: #edebeb;
    transition: background-color 0.3s ease;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td{
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}