/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; 
}

/* Estilo do botão de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
}

/* Estilo da trilha da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
    font-size: 32px;
    color: #333; 
    background-color: #f2f2f2; 
    border-radius: 10px; 
    border: 1px solid #ccc; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#porticos-container {
    position: fixed;
    top: 25%;
    left: 15%;
    width: 70%;
    max-height: 120%; 
    overflow: auto; 
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.portico {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.portico h2 {
    margin-top: 0;
}

.portico p {
    margin-bottom: 10px;
}

.portico a {
    color: #333;
    text-decoration: none;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.portico a:hover {
    background-color: #ccc;
}

