body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 32px;
  color: #333;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table#task-content {
  width: 70%;
  border-collapse: collapse;
  margin-top: 35px;
  margin-left: 15%;
  border-radius: 10px;
  overflow: hidden;
}

table#task-content th,
table#task-content td {
  padding: 8px;
  text-align: center;
}

table#task-content th {
  background-color: #0073ba;
  color: #fff;
}

table#task-content tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

button#create-chamado-btn {
  position: absolute;
  top: 26%;
  right: 50px;
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 165%;
}

button#create-chamado-btn:hover {
  background-color: #0056b3;
}

button#create-chamado-btn a {
  text-decoration: none;
  color: #fff;
}

/* Estilos para telas menores que 800px de largura */
@media screen and (max-width: 800px) {
  h1 {
      width: 70%;
      text-align: center;
      margin-bottom: 20px;
      font-family: "Arial", sans-serif;
      font-size: 20px;
      padding: 10px 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-left: 20%;
  }

  table#task-content {
      width: 60%;
      margin-left: 30%;
      font-size: 12px;
  }

  button#create-chamado-btn {
      top: 80%;
      right: 10px;
      padding: 8px 10px;
  }
}
