.body_l {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: linear-gradient(180deg, rgba(1, 83, 160, 0.00) 0%, #00519E 63.07%), linear-gradient(180deg, #1189FA 0%, #1189FA 0.01%, #0A71D3 45.7%);
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.retangulo {
    width: 80%;
    max-width: 500px;
    height: auto;
    border-radius: 20px;
    background: linear-gradient(180deg, #3BC7F4 0%, #0D7BE4 100%);
    backdrop-filter: blur(0.8px);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo_l {
    width: 50%;
    max-width: 200px;
    margin-top: 5vh;
}

.retangulo1,
.retangulo2 {
    width: 80%;
    max-width: 300px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 0 5px;
}

.retangulo3 {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.retangulo3 a {
    padding: 13px 40px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(1, 83, 160, 0.00) 0%, #00519E 63.07%), linear-gradient(180deg, #1189FA 0%, #1189FA 0.01%, #0A71D3 45.7%);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    max-width: 100%;
}

.retangulo1 label,
.retangulo2 label {
    margin-top: 10px;
}

.retangulo1 input,
.retangulo2 input {
    margin-top: 5px;
}

/* LOGIN */


/* ESTRUTURA PADRÃO DE TODAS AS PÁGINAS */

html,
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #fafafa;
    padding: 20px 2%;
    margin-left: 13%;
    border-bottom: 1px solid #ccc;
    z-index: 999; /* Ordem de empilhamento acima do menu */
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 13%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(1, 83, 160, 0.00) 0%, #00519E 63.07%), linear-gradient(180deg, #1189FA 0%, #1189FA 0.01%, #0A71D3 45.7%);
    z-index: 1; /* Ordem de empilhamento abaixo do cabeçalho */
}

.naveg h3 {
    color: white;
    margin-top: 90px;
    margin-bottom: 25px;
}

.sidebar {
    padding: 15px;
}

.usuario {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 10px;
}

.usuario i {
    margin-right: 15px;
    margin-left: 10px;
}

.usuario h3 {
    font-size: 15px;
    font-weight: 100;
}

.naveg a {
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 2vh;
    font-weight: 100;
    padding: 8px;
}

.naveg a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
    background-color: #ccc;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 20px;
}

.naveg a:hover::before {
    opacity: 0.2;
}

.naveg a i {
    margin-right: 10px;
}

.return{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    z-index: 9999; /* Certifique-se de que o ícone fique acima de outros elementos */
}

.return a{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

.return a i{
    color: white; 
    font-size: 25px; 
}

/* Estilos para telas menores que 800px de largura */
@media screen and (max-width: 800px) {
    .naveg a{
        display: flex;
        margin-bottom: 5px;
    }

    header {
        padding: 10px;
    }

    header img {
        margin-left: 40%;
        width: 30%;
        max-width: 100px;
    }

    .menu {
        width: 28%;
    }

    .sidebar {
        padding: 1px;
    }

    .usuario i {
        margin-right: 25px;
        margin-left: 15px;
        margin-top: 10px;
    }

    .usuario h3 {
        display: none;
    }

    .naveg a {
        margin-bottom: 5px;

    }

    .naveg h3 {
        margin-top: 45px;
        margin-bottom: 2px;
        margin-left: 10px;
    }

    .naveg a:before {
        width: 100%;
    }

    .naveg a i {
        margin-right: 8px;
    }

    .naveg a {
        display: block;
        position: relative;
        color: white;
        text-decoration: none;
        margin-bottom: 15px;
        font-size: 1.5vh;
        font-weight: 100;
        padding: 8px;
    }
}

/* Estilos para telas menores que 800px de largura */
@media (min-width: 801px) and (max-width: 1500px) {
    .naveg a {
        display: flex;
        padding: 0;
        font-size: 11px;
    }
}