h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
    font-size: 32px;
    color: #333; /* Cor do texto */
    background-color: #f2f2f2; /* Cor de fundo */
    border-radius: 10px; /* Borda arredondada */
    border: 1px solid #ccc; /* Cor da borda */
    padding: 10px 20px; /* Espaçamento interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.graph-container {
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    margin-top: 10px;
    margin-left: 16%;
}

#graph1,
#graph2,
#graph3 {
    border-radius: 10px;
    border: 1px solid #585960;
    max-height: 300px;
    overflow: auto; 
    margin: 10px;
}

#table-container {
    width: 54%; 
    height: 40%;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid #585960;
    transition: transform 0.3s ease;
    max-height: 300px;
    margin-left: 17%;  
}

#table-container:hover {
    transform: scale(1.02);
}

tbody tr:hover {
    background-color: #edebeb;
    transition: background-color 0.3s ease;
}

#table-container::-webkit-scrollbar {
    width: 10px;
}

#table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

#table-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

