/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
/* Estilo da barra de rolagem */

.container2 {
    display: flex;
    align-items: center; 
}

h1 {
    width: 92%;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
    font-size: 32px;
    color: #333; 
    background-color: #f2f2f2; 
    border-radius: 10px; 
    border: 1px solid #ccc; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#relatorio {
    padding: 15px 15px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #008CBA;
    margin-left: 13%;
    margin-top: 10px;
}

/* Indicador */
.painel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    margin-left: 16%;
    padding-bottom: 20px;
}

.indicator {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 60px; 
    width: 80%; 
    margin-right: -5px; 
}

.indicator:hover {
    transform: translateY(-3px); 
}

.indicator h2 {
    margin-top: 0;
    font-size: 16px; 
    text-align: center;
}

.indicator p {
    margin: 10px;
    font-size: 18px; 
    text-align: center;
}

.indicator:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #e0e0e0; 
}
/* Indicador */

/* Tabela */
#table-container {
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 83%; 
    height: 40%;
    overflow: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    max-height: 300px;
    margin-left: 15%;  
}

#table-container:hover {
    transform: scale(1.01);
}

tbody tr:hover {
    background-color: #edebeb;
    transition: background-color 0.3s ease;
}

#table-container::-webkit-scrollbar {
    width: 10px;
}

#table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

#table-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}
/* Tabela */

/* Gráficos */
.graph-container {
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    margin-top: 10px;
    margin-left: 13%;
}

#graph1,
#graph2,
#graph3 {
    background-color: #fafafa ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-height: 300px;
    overflow: auto; 
    margin: 10px;
}

#graph1 {
    transition: background-color 3s ease, transform 0.3s ease; 
}

#graph1:hover {
    background-color: #edebeb;
    transform: scale(1.02);
}

#graph2 {
    transition: background-color 3s ease, transform 0.3s ease; 
}

#graph2:hover {
    background-color: #edebeb;
    transform: scale(1.02);
}

#graph3 {
    transition: background-color 3s ease, transform 0.3s ease; 
}

#graph3:hover {
    background-color: #edebeb;
    transform: scale(1.02);
}
/* Gráficos */